<div>
  <h1 class="">Forgot Password</h1>
</div>
<div class="mb-2">
  <span class="">
      Enter the email to send the password reset link
  </span>
</div>
<form [formGroup]="forgotPassowrdForm" (ngSubmit)="onSubmit()">

  <!-- user email -->
  <app-custom-input
    formControlName="email"
    [customInput]="{
      appearance: 'outline',
      label: 'Email',
      type: 'email',
      placeholder: 'Enter Email',
      value: '',
      id: 'userEmail',
      name: 'userEmail',
      icon: 'email',
      disabled: false
    }"
    [formControl]="emailControl"
    [customErrors]="{
      notFound: 'There is no such user'
    }">
  </app-custom-input>

  <div class="d-flex justify-content-center align-items-center mt-3">
      <button type="submit" class="btn btn-primary btn-lg w-75 me-1" [disabled]="forgotPassowrdForm.invalid">Submit</button>
      <button type="submit" class="btn btn-danger btn-lg w-25" routerLink="/login">Back</button>
  </div>

</form>