<h1 mat-dialog-title class="ps-3 pt-2">Change Password</h1>

<form [formGroup]="changePasswordForm" (ngSubmit)="submit()">
  <mat-dialog-content class="d-flex flex-column gap-3">

    <!-- Current Password -->
    <lib-generic-input
        class="form-floating input-countainer"
        [config]="{
          appearance: 'outline',
          label: 'Password',
          type: 'password',
          class: 'w-100',
          placeholder: 'Enter Password',
          id: 'currentPassword',
          name: 'currentPassword',
          customErrorMessages: {
            required: 'Password is required'
          }
        }"
        [formControl]="currentPasswordControl">
      </lib-generic-input>

    <!-- New Password -->
    <lib-generic-input
        class="form-floating input-countainer"
        [config]="{
          appearance: 'outline',
          label: 'New Password',
          type: 'password',
          class: 'w-100',
          placeholder: 'Enter New Password',
          id: 'newPassword',
          name: 'password',
          customErrorMessages: {
            required: 'Password is required',
            noUpperCase: 'Must contain at least 1 uppercase letter',
            noLowerCase: 'Must contain at least 1 lowercase letter',
            noSpecialChar: 'Must contain at least 1 special character',
            tooShort: 'Must be at least 8 characters long'
          }
        }"
        [formControl]="newPasswordControl">
      </lib-generic-input>

    <!-- Confirm Password -->
    <lib-generic-input
        class="form-floating input-countainer"
        formControlName="confirmPassword"
        [formControl]="confirmPasswordControl"
        [config]="{
          appearance: 'outline',
          label: 'Confirm Password',
          type: 'password',
          placeholder: 'Confirm Password',
          id: 'confirmPassword',
          name: 'confirmPassword',
          class: 'w-100',
          disabled: false,
          customErrorMessages: {
            required: 'Confirm Password is required',
            passwordsMismatch: 'Password and Confirm Password must match',
            noUpperCase: 'Must contain at least 1 uppercase letter',
            noLowerCase: 'Must contain at least 1 lowercase letter',
            noSpecialChar: 'Must contain at least 1 special character',
            tooShort: 'Must be at least 8 characters long'
          }
        }">
      </lib-generic-input>
      <mat-error *ngIf="changePasswordForm.hasError('passwordsMismatch')">
        Passwords do not match
      </mat-error>

  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <button type="button" mat-button (click)="close()">Cancel</button>
    <button type="submit" mat-flat-button color="primary" [disabled]="changePasswordForm.invalid">
      Submit
    </button>
  </mat-dialog-actions>
</form>
