<h1 mat-dialog-title class="ps-3 pt-2">Change Password</h1>

<form [formGroup]="changePasswordForm" (ngSubmit)="submit()">
  <mat-dialog-content class="d-flex flex-column gap-3">

    <!-- Current Password -->
    <lib-generic-input class="form-floating input-countainer" [config]="changePasswordFormConfig.currentPassword" [formControl]="getControl('currentPassword')"></lib-generic-input>

    <!-- New Password -->
    <lib-generic-input class="form-floating input-countainer" [config]="changePasswordFormConfig.newPassword" [formControl]="getControl('newPassword')"></lib-generic-input>

    <!-- Confirm Password -->
    <lib-generic-input class="form-floating input-countainer" formControlName="confirmPassword" [formControl]="getControl('confirmPassword')" [config]="changePasswordFormConfig.confirmPassword"></lib-generic-input>
    @if(changePasswordForm.hasError('passwordsMismatch')){
      <mat-error>Passwords do not match</mat-error>
    }
    
  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <button type="button" mat-button (click)="close()">Cancel</button>
    <button type="submit" mat-flat-button color="primary" [disabled]="changePasswordForm.invalid">
      Submit
    </button>
  </mat-dialog-actions>
</form>
