<h2 mat-dialog-title class="ps-3 pt-2">Edit Provider</h2>
<mat-dialog-content *ngIf="editForm">
  <form [formGroup]="editForm">

    <!-- email -->
    <lib-generic-input [formControl]="getControl('email')" [config]="editProviderFormConfig.email"></lib-generic-input>

    <!-- name -->
    <lib-generic-input [formControl]="getControl('name')" [config]="editProviderFormConfig.name"></lib-generic-input>

    <!-- phone no -->
    <lib-generic-input [formControl]="getControl('phoneNo')" [config]="editProviderFormConfig.phoneNo"></lib-generic-input>

    <div class="mb-3 d-flex justify-content-around align-items-center">
      <!-- is recurring -->
      <lib-generic-input [formControl]="getControl('isRecurring')" [config]="editProviderFormConfig.isRecurring"></lib-generic-input>
      <!-- is available -->
      <lib-generic-input [formControl]="getControl('isAvailable')" [config]="editProviderFormConfig.isAvailable"></lib-generic-input>
    </div>

    <div class="row">
      <div class="col-6">
        <!-- start time -->
        <lib-generic-input [formControl]="getControl('startTime')" [config]="editProviderFormConfig.startTime"></lib-generic-input>
      </div>
      <div class="col-6">
        <!-- end time -->
        <lib-generic-input [formControl]="getControl('endTime')" [config]="editProviderFormConfig.endTime"></lib-generic-input>
      </div>
    </div>

    <div>
      @if(editForm.errors?.['timeSame']){
        <mat-error>Start time and end time cannot be the same</mat-error>
      } @else if (editForm.errors?.['startAfterEnd']) {
        <mat-error>Start time must be before end time</mat-error>
      }
    </div>

    @if(editForm.get('isRecurring')?.value){
      <div class="mb-3 d-flex flex-wrap gap-2">
        @for (day of daysOfWeek; track day) {
          <mat-checkbox [checked]="editForm.value.days.includes(day)" (change)="toggleDay(day)">{{ day }}</mat-checkbox>
        }
      </div>
    }

  </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button (click)="close()">Cancel</button>
  <button mat-flat-button color="primary" (click)="submit()" [disabled]="editForm!.invalid || this.isSaving">
    @if(isSaving){ <mat-spinner diameter="20"></mat-spinner> }
    @else{ <span>Submit</span> }
  </button>
</mat-dialog-actions>
