<h2 mat-dialog-title class="ps-3 pt-2">Edit Provider</h2>
<mat-dialog-content *ngIf="editForm">
  <form [formGroup]="editForm">
    <mat-form-field appearance="outline" class="w-100">
      <mat-label>Email address</mat-label>
      <input matInput formControlName="email"/>
    </mat-form-field>

    <mat-form-field appearance="outline" class="w-100">
      <mat-label>Name</mat-label>
      <input matInput formControlName="name" />
    </mat-form-field>

    <mat-form-field appearance="outline" class="w-100">
      <mat-label>Phoneno</mat-label>
      <input matInput type="text" formControlName="phoneNo" />
    </mat-form-field>

    <div class="mb-3 d-flex justify-content-around align-items-center">
      <mat-slide-toggle formControlName="isRecurring">Is Recurring</mat-slide-toggle>
      <mat-slide-toggle formControlName="isAvailable">Is Available</mat-slide-toggle>
    </div>

    <div class="d-flex gap-2 mt-2">
      <mat-form-field appearance="outline">
        <mat-label>Set Start Time</mat-label>
        <input matInput [ngxTimepicker]="startTimePicker" formControlName="startTime" readonly>
        <ngx-material-timepicker #startTimePicker></ngx-material-timepicker>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Set End Time</mat-label>
        <input matInput [ngxTimepicker]="endTimePicker" formControlName="endTime" readonly>
        <ngx-material-timepicker #endTimePicker></ngx-material-timepicker>
      </mat-form-field>
    </div>

    <div>
      @if(editForm.errors?.['timeSame']){
        <mat-error>
          Start time and end time cannot be the same
        </mat-error>
      } @else if (editForm.errors?.['startAfterEnd']) {
        <mat-error>
          Start time must be before end time
        </mat-error>
      }
    </div>

    @if(editForm.get('isRecurring')?.value){
      <div class="mb-3 d-flex flex-wrap gap-2">
        @for (day of daysOfWeek; track day) {
          <mat-checkbox
            [checked]="editForm.value.days.includes(day)"
            (change)="toggleDay(day)">
            {{ day }}
          </mat-checkbox>
        }
      </div>
    }

  </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button (click)="close()">Cancel</button>
  <button mat-flat-button color="primary" (click)="submit()" [disabled]="editForm?.invalid || this.isSaving">
    @if(isSaving){
      <mat-spinner diameter="20"></mat-spinner>
    } @else{
      <span>Submit</span>
    }
  </button>
</mat-dialog-actions>
