<div class="px-4 mt-2">

  <!-- Page Header -->
  <div class="page-header">
    <h1>My Schedule</h1>

    <div class="d-flex align-items-center gap-2">
      <div class="search-box">
        <input type="text" class="form-control" placeholder="Search" [formControl]="searchControl">
      </div>

      <div class="custom-select-wrapper">
        <app-custom-input
          [customInput]="{
            appearance: 'outline',
            label: 'Options',
            type: 'select',
            placeholder: '',
            id: 'role',
            name: 'role',
            disabled: false,
            options:filterOptions
          }"
          [formControl]="filterOptionControl"
          (valueChange)="onFilterChange($event)">
        </app-custom-input>
      </div>

      <button matFab extended (click)="exportToExcel()">
        <mat-icon class="fs-4"><i class="fa-solid fa-file-excel"></i></mat-icon>
        Export to Excel
      </button>

      <button matFab extended (click)="exportToPdf()">
        <mat-icon class="fs-4"><i class="fa-solid fa-file-pdf"></i></mat-icon>
        Export to PDF
      </button>
    </div>
  </div>

  <ng-template #actionBtns let-row>
    @if(row.status === 'booked'){
      <button matMiniFab color="primary" class="mt-1 mx-2" aria-label="Example icon button with a home icon"
      (click)="completeAppointment(row.appointmentId, row.appointmentDate, row.startTime)">
        <!-- <mat-icon><i class="bi bi-check-square"></i></mat-icon> -->
         <mat-icon>done_all</mat-icon>
      </button>
    }
  </ng-template>

  <!-- Schedule Table Card -->
  <div class="card">
    <div class="card-body p-0">
      <span id="MyBookingListContainer">
        <app-generic-table
          [data]="data?.myScheduleList"
          [columns]="columns"
          [totalCount]="totalCount"
          [pageSize]="pageSize"
          [pageNumber]="page"
          [columnTemplates]="{ actions: actionBtns }"
          [actionColumnName] ="'Complete'"
          (pageChange)="onPageChange($event)"
          (sortChange)="onSortChange($event)">
        </app-generic-table>
      </span>
    </div>
  </div>

</div>
