<h2 mat-dialog-title class="ms-3 mt-2">
  {{data?.serviceId ? 'Edit Service' : 'Add Service'}}
</h2>

<form [formGroup]="serviceForm" (ngSubmit)="save()">
  <mat-dialog-content>
    <input type="hidden" formControlName="serviceId">

    <!-- service name -->
    <lib-generic-input [config]="serviceFormConfig.serviceName" [formControl]="getControl('serviceName')"></lib-generic-input>

    <!-- service desc -->
    <lib-generic-input [config]="serviceFormConfig.serviceDesc" [formControl]="getControl('serviceDesc')"></lib-generic-input>

    <!-- service commission -->
    <lib-generic-input [config]="serviceFormConfig.commission" [formControl]="getControl('commission')"></lib-generic-input>

    <div class="row">
      <div class="col-6">
        <!-- service price -->
        <lib-generic-input [config]="serviceFormConfig.price" [formControl]="getControl('price')"></lib-generic-input>
      </div>
      <div class="col-6">
        <!-- service duration -->
        <lib-generic-input [config]="serviceFormConfig.duration" [formControl]="getControl('duration')"></lib-generic-input>
      </div>
    </div>
  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <button mat-button type="button" (click)="cancel()">Cancel</button>
    <button mat-flat-button color="primary" type="submit" [disabled]="serviceForm.invalid || this.isSaving">
      @if(isSaving){
        <mat-spinner diameter="20"></mat-spinner>
      }
      @else{
        <span>Save</span>
      }
    </button>
  </mat-dialog-actions>
</form>