<h1 mat-dialog-title class="ps-3 pt-2">My Profile</h1>

<form [formGroup]="myProfileForm" (ngSubmit)="submit()">
  <mat-dialog-content>

    <mat-form-field appearance="outline" class="w-100 md-2">
      <mat-label>Name</mat-label>
      <input matInput formControlName="name" />
      <mat-error *ngIf="myProfileForm.get('name')?.hasError('required') && (myProfileForm.get('name')?.touched || myProfileForm.get('name')?.dirty)">
        Name is required.
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="w-100">
      <mat-label>Phone No</mat-label>
      <input matInput formControlName="phoneNo" />
      <mat-error *ngIf="myProfileForm.get('phoneNo')?.touched || myProfileForm.get('phoneNo')?.dirty">
        <span *ngIf="myProfileForm.get('phoneNo')?.hasError('required')">Phone number is required</span>
        <span *ngIf="myProfileForm.get('phoneNo')?.hasError('invalidPhone')">Enter valid phone number</span>
      </mat-error>
    </mat-form-field>

    @if(myProfileForm.get('isProvider')?.value){
      <p><mat-slide-toggle formControlName="isAvailable">Available</mat-slide-toggle></p>
    }

  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <button type="button" mat-button (click)="close()">Cancel</button>
    <button type="submit" mat-flat-button color="primary">
      <span>Submit</span>
    </button>
  </mat-dialog-actions>
</form>