<h1 mat-dialog-title class="ps-3 pt-2">Reschedule Appointment</h1>

<form [formGroup]="rescheduleForm" (ngSubmit)="submit()">
  <mat-dialog-content>
    <div class="form-floating mb-3">
      <input type="date" class="form-control" id="RescheduleAppointmentDate" placeholder="" [min]="minDate" formControlName="appointmentDate">
      <label for="RescheduleAppointmentDate">Date</label>
      <div>
        @if(rescheduleForm.get('appointmentDate')?.hasError('required')){
          <span class="text-danger">
            Appointment date is required
          </span>
        }
      </div>
    </div>

    <div class="list-group" style="max-height: 200px; overflow-y: auto;">
      @if(this.rescheduleData.slotsAvailable.length > 0){
        @for (s of rescheduleData.slotsAvailable; track s.startTime) {
          <label class="list-group-item list-group-item-action d-flex align-items-center gap-2 fs-4">
            <input
              class="form-check-input me-2 SlotRadioBtn"
              type="radio"
              formControlName="slotTime"
              [value]="s"
            />
            {{ s.startTime | timeFormatPipe: '12hr' }} - {{ s.endTime | timeFormatPipe: '12hr' }}
          </label>
        }
      }
      @else {
        <div class="alert alert-warning text-center fw-semibold">
          No slots available.
        </div>
      }
    </div>
  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <button type="button" mat-button (click)="close()">Cancel</button>
    <button type="submit" mat-flat-button color="primary" [disabled]="rescheduleForm.invalid">
      <span>Submit</span>
    </button>
  </mat-dialog-actions>
</form>