<div>
  <h1 class="">Login</h1>
</div>
<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">

  <!-- email -->
  <lib-generic-input [config]="loginFormConfig.email" [formControl]="getControl('email')"></lib-generic-input>

  <!-- password -->
  <lib-generic-input [config]="loginFormConfig.password" [formControl]="getControl('password')"></lib-generic-input>

  <div class="d-flex justify-content-between align-items-start mb-2">
    <mat-checkbox class="example-margin" formControlName="rememberMe"><span class="fs-6">Remember
        Me</span></mat-checkbox>
    <div class="d-flex justify-content-center align-items-center my-2">
      <a class="text-decoration-none text-primary" routerLink="/forgot-password">Forgot Password?</a>
    </div>
  </div>
  <div class="d-flex justify-content-center align-items-center">
    <button type="submit" class="btn btn-primary btn-lg w-100" [disabled]="loginForm.invalid">Login</button>
  </div>
  <div class="d-flex justify-content-center align-items-center my-2">
    <span class="fw-bold">Do not have account ?</span><a class="text-decoration-none text-primary"
      routerLink="/register">Register Now</a>
  </div>

</form>
