@if(isLoading){
  <app-loader></app-loader>
}
<body class="layout-fixed sidebar-expand-lg bg-body-tertiary">
  <div class="app-wrapper">
    <nav class="app-header navbar navbar-expand bg-body" style="z-index: 1000 !important;">
      <div class="container-fluid">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" data-lte-toggle="sidebar" role="button" (click)="sideBarToggel()">
              <i class="bi bi-list"></i>
            </a>
          </li>
        </ul>
        <ul class="navbar-nav ms-auto">
          <!-- @if(this.userRole == 'provider'){ -->
            <li class="nav-item dropdown" id="notificationIconBell" *appShowIfRoleDirective="'provider'">
              <a class="nav-link text-dark cursor-pointer" data-bs-toggle="dropdown">
                <i class="bi bi-bell-fill fs-5"></i>
                <span class="navbar-badge badge fs-8 text-bg-warning" id="notificationCount">{{ notifications.length }}</span>
              </a>
              <div class="dropdown-menu dropdown-menu-lg dropdown-menu-end">
                <span class="dropdown-item dropdown-header">Notifications</span>
                <div class="dropdown-divider"></div>
                <div id="notificationlist" style="max-height: 300px; overflow-y: auto" >
                  @if(notifications.length){
                    @for (n of notifications; track n.notificationId) {
                      <a class="dropdown-item" (click)="markAsRead(n.notificationId); $event.stopPropagation()">
                        <span class="text-wrap">{{ n.notificationMessage }}</span>
                        <span class="float-end text-secondary fs-7">{{ formatTimeAgo(n.notificationTime) }}</span>
                        <div class="dropdown-divider"></div>
                      </a>
                    }
                  } @else{
                    <span class="dropdown-item text-muted">No new notifications</span>
                    <div class="dropdown-divider"></div>
                  }
                </div>
                <div id="notificationlist" style="max-height: 300px; overflow-y: auto" ></div>
                <a class="dropdown-item dropdown-footer" id="MarkAllRead" (click)="markAllAsRead()">
                  Mark All As Read
                </a>
              </div>
            </li>
          <!-- } -->
          <li class="nav-item dropdown user-menu" data-bs-auto-close="outside">
            <a class="nav-link dropdown-toggle text-dark py-0 cursor-pointer" data-bs-toggle="dropdown" >
              <span class="d-md-inline">
                @if (userImg) {
                  <img [src]="userImg" alt="Profile" style="max-width: 35px; border-radius: 50%; height: 35px;">
                }
                {{ this.userName }}
              </span>
            </a>
            <ul class="dropdown-menu dropdown-menu-end">
              <li class="user-header text-bg-secondary" style="min-height: auto" >
                <div>
                  @if (userImg) {
                    <img [src]="userImg" alt="Profile" style="width: 60px; border-radius: 50%; height: 60px;">
                  }
                </div>
                <p>{{ this.userName }} - {{ this.userRole }}</p>
              </li>
              <li class="user-footer">
                <div class="d-flex justify-content-between align-items-center">
                  <div>
                    <button class="btn btn-primary" (click)="myProfileClicked()">
                      <i class="bi bi-person-lines-fill"></i>
                      My Profile
                    </button>
                  </div>
                  <div>
                    <button class="btn btn-outline-danger" style="width: 117px" (click)="logout()" >
                      <i class="bi bi-box-arrow-right"></i>
                      Logout
                    </button>
                  </div>
                </div>
                <div class="d-flex justify-content-center align-items-center mt-2" >
                  <div class="w-100">
                    <button class="btn btn-warning w-100" (click)="changePasswordClicked()">
                      <i class="bi bi-lock-fill"></i>
                      Change Password
                    </button>
                  </div>
                </div>
                <!-- @if(this.userRole == 'provider'){ -->
                  <div class="d-flex justify-content-center align-items-center mt-2" *appShowIfRoleDirective="'provider'">
                    <div class="w-100">
                      <button class="btn btn-info w-100" (click)="myEarningClicked()">
                        <i class="bi bi-cash-stack"></i>
                        My Earning
                      </button>
                    </div>
                  </div>
                <!-- } -->
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </nav>
    <aside class="app-sidebar bg-body-secondary shadow" data-bs-theme="dark" [ngClass]="{ 'd-none': sidebarCollapse }" style="z-index: 1000 !important;">
      <app-side-bar></app-side-bar>
    </aside>
    <main class="app-main" style="background-color: #dde0e4;;">
      <router-outlet></router-outlet>
    </main>
  </div>
  <div class="loader-overlay" id="loader">
    <div class="three-body">
      <div class="three-body__dot"></div>
      <div class="three-body__dot"></div>
      <div class="three-body__dot"></div>
    </div>
  </div>
  <div id="MyProfileModalContainer"></div>
</body>


