<div>
  <h1 class="text-center">Registration</h1>
</div>

<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">

  <!-- Name -->
  <div class="row">
    <div class="col-12">
      <lib-generic-input
        class="form-floating mb-3"
        [config]="{
          appearance: 'outline',
          label: 'Name',
          type: 'text',
          class: 'w-100',
          placeholder: 'Enter Name',
          id: 'name',
          name: 'name',
          icon: 'person',
          customErrorMessages: {
            required: 'Name is required'
          }
        }"
        [formControl]="nameControl">
      </lib-generic-input>
    </div>
  </div>

  <!-- Email -->
  <div class="row">
    <div class="col-12">
      <lib-generic-input
        class="form-floating mb-3"
        [config]="{
          appearance: 'outline',
          label: 'Email',
          type: 'email',
          class: 'w-100',
          placeholder: 'Enter Email',
          id: 'email',
          name: 'email',
          icon: 'email',
          customErrorMessages: {
            required: 'Email is required',
            email: 'Enter a valid email address'
          }
        }"
        [formControl]="emailControl">
      </lib-generic-input>
    </div>
  </div>

  <!-- Password -->
  <div class="row">
    <div class="col-12">
      <lib-generic-input
        class="form-floating input-countainer mb-3"
        [config]="{
          appearance: 'outline',
          label: 'Password',
          type: 'password',
          class: 'w-100',
          placeholder: 'Enter Password',
          id: 'password',
          name: 'password',
          customErrorMessages: {
            required: 'Password is required',
            noUpperCase: 'Must contain at least 1 uppercase letter',
            noLowerCase: 'Must contain at least 1 lowercase letter',
            noSpecialChar: 'Must contain at least 1 special character',
            tooShort: 'Must be at least 8 characters long'
          }
        }"
        [formControl]="passwordControl">
      </lib-generic-input>
    </div>
  </div>

  <!-- Confirm Password -->
  <div class="row">
    <div class="col-12">
      <lib-generic-input
        class="form-floating input-countainer mb-3"
        formControlName="confirmPassword"
        [formControl]="confirmPasswordControl"
        [config]="{
          appearance: 'outline',
          label: 'Confirm Password',
          type: 'password',
          placeholder: 'Confirm Password',
          id: 'confirmPassword',
          name: 'confirmPassword',
          class: 'w-100',
          disabled: false,
          customErrorMessages: {
            required: 'Confirm Password is required',
            passwordsMismatch: 'Password and Confirm Password must match',
            noUpperCase: 'Must contain at least 1 uppercase letter',
            noLowerCase: 'Must contain at least 1 lowercase letter',
            noSpecialChar: 'Must contain at least 1 special character',
            tooShort: 'Must be at least 8 characters long'
          }
        }">
      </lib-generic-input>
      @if(registerForm.hasError('passwordsMismatch') && confirmPasswordControl.touched && !registerForm.get('confirmPassword')?.errors?.['required']){
        <div class="text-danger">
          Password and Confirm Password must match
        </div>
      }
    </div>
  </div>

  <div class="row">

    <!-- Phone No -->
    <div class="col-6">
      <lib-generic-input
        formControlName="phoneNo"
        [formControl]="phoneNoControl"
        [config]="{
          appearance: 'outline',
          label: 'Phone No',
          type: 'text',
          placeholder: 'Enter Phone No',
          id: 'phoneNo',
          name: 'phoneNo',
          disabled: false,
          icon: 'phone',
          customErrorMessages: {
            required: 'Phone No is required',
            invalidPhone: 'Enter a valid phone number',
            invalidLength: 'Phone number must be 10 digits long'
          },
          class: 'w-100'
        }">
      </lib-generic-input>
    </div>

    <div class="col-6">
      <!-- Role select list -->
      <!-- <app-custom-input
      formControlName="role"
      [customInput]="{
        appearance: 'outline',
        label: 'Role',
        type: 'select',
        placeholder: '',
        id: 'role',
        name: 'role',
        disabled: false,
        options:roles
      }"
      [formControl]="roleControl">
      </app-custom-input> -->
      <lib-generic-input
        formControlName="role"
        [formControl]="roleControl"
        [config]="{
          appearance: 'outline',
          label: 'Role',
          type: 'select',
          placeholder: '',
          id: 'role',
          name: 'role',
          disabled: false,
          options:roles,
          icon: 'settings',
          value: '',
          class: 'w-100'
        }"
      >
      </lib-generic-input>
    </div>
  </div>

  <!-- Buttons -->
  <div class="d-flex justify-content-center align-items-center mt-3">
    <button type="submit" class="btn btn-primary btn-lg w-75 me-2" [disabled]="registerForm.invalid">
      Register
    </button>
    <button type="button" class="btn btn-danger btn-lg w-25" (click)="onReset()">
      Cancel
    </button>
  </div>
</form>
