<div>
  <h1 class="text-center">Registration</h1>
</div>

<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">

  <!-- Name -->
  <div class="row">
    <div class="col-12">
      <lib-generic-input class="form-floating mb-3" [config]="registerFormConfig.name" [formControl]="getControl('name')"></lib-generic-input>
    </div>
  </div>

  <!-- Email -->
  <div class="row">
    <div class="col-12">
      <lib-generic-input class="form-floating mb-3" [config]="registerFormConfig.email" [formControl]="getControl('email')"></lib-generic-input>
    </div>
  </div>

  <!-- Password -->
  <div class="row">
    <div class="col-12">
      <lib-generic-input class="form-floating input-countainer mb-3" [config]="registerFormConfig.password" [formControl]="getControl('password')"></lib-generic-input>
    </div>
  </div>

  <!-- Confirm Password -->
  <div class="row">
    <div class="col-12">
      <lib-generic-input class="form-floating input-countainer mb-3" formControlName="confirmPassword" [formControl]="getControl('confirmPassword')" [config]="registerFormConfig.confirmPassword"></lib-generic-input>
      @if(registerForm.hasError('passwordsMismatch') && getControl('confirmPassword').touched && !registerForm.get('confirmPassword')?.errors?.['required']){
        <mat-error class="text-danger fs-8 ms-3">
          Password and Confirm Password must match
        </mat-error>
      }
    </div>
  </div>

  <div class="row">

    <!-- Phone No -->
    <div class="col-6">
      <lib-generic-input formControlName="phoneNo" [formControl]="getControl('phoneNo')" [config]="registerFormConfig.phoneNo"></lib-generic-input>
    </div>

    <!-- Role -->
    <div class="col-6">
      <lib-generic-input formControlName="role" [formControl]="getControl('role')" [config]="registerFormConfig.role"></lib-generic-input>
    </div>
  </div>

  <!-- Buttons -->
  <div class="d-flex justify-content-center align-items-center mt-3">
    <button type="submit" class="btn btn-primary btn-lg w-75 me-2" [disabled]="registerForm.invalid">
      Register
    </button>
    <button type="button" class="btn btn-danger btn-lg w-25" (click)="onReset()">
      Cancel
    </button>
  </div>
</form>
