<h2 mat-dialog-title class="ms-3 pb-0">Add Provider</h2>
<form [formGroup]="addProviderForm" (ngSubmit)="submit()">
  <mat-dialog-content>
    <lib-generic-input [formControl]="providerNameControl" [config]="addProviderFormConfig.providerName"></lib-generic-input>

    <lib-generic-input [formControl]="providerEmailControl" [config]="addProviderFormConfig.providerEmail"></lib-generic-input>

    <lib-generic-input [formControl]="providerPhoneNoControl" [config]="addProviderFormConfig.phoneNo"></lib-generic-input>
  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <button mat-button type="button" (click)="cancel()">Cancel</button>
    <button mat-flat-button color="primary" type="submit" [disabled]="addProviderForm.invalid || this.isSaving">
      @if(isSaving){ <mat-spinner diameter="20"></mat-spinner> }
      @else { <span>Save</span> }
    </button>
  </mat-dialog-actions>
</form>
