<div class="d-flex justify-content-between align-items-center px-5 mt-2">
  <h1>Bookings</h1>
  <div class="d-flex align-items-center justify-content-center">
    <div>
      <span class="fs-3 text-secondary">{{ data?.clientEmail }}</span>
    </div>
  </div>
</div>

<div class="row mx-4">
  <div class="card card-primary card-outline mb-4">
    @if(bookingForm){
      <form [formGroup]="bookingForm" (ngSubmit)="submit()">
        <div class="card-body">
          <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-6">
              <lib-generic-input [formControl]="clientNameControl" [config]="bookingFormConfig.clientName"></lib-generic-input>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
              <lib-generic-input [formControl]="clientPhoneNoControl" [config]="bookingFormConfig.clientPhoneNo"></lib-generic-input>
            </div>
            <div class="col-lg-4 col-md-12 col-sm-12">
              <lib-generic-input [formControl]="appointmentDateControl" [config]="bookingFormConfig.appointmentDate"></lib-generic-input>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-2">
              <lib-generic-input [formControl]="startTimeControl" [config]="bookingFormConfig.startTime"></lib-generic-input>
            </div>
            <div class="col-lg-2">
              <lib-generic-input [formControl]="endTimeControl" [config]="bookingFormConfig.endTime"></lib-generic-input>
            </div>
            <div class="col-lg-4">
              <mat-form-field appearance="outline" class="w-100">
                <mat-label>Service</mat-label>
                <mat-select panelClass="service-panel" formControlName="serviceId">
                  @for (service of data?.serviceList; track service.serviceId) {
                  <mat-option [value]="service.serviceId">
                    <div class="service-option">
                      <div class="title">{{ service.serviceName }}</div>
                      <div class="details">
                        <span class="title"> Price</span> - ₹{{service.price}} | <span class="title"> Duration</span> - {{ service.duration | timeFormatPipe : "min" }} mins
                      </div>
                    </div>
                  </mat-option>
                  }
                </mat-select>
                @if(bookingForm.get('serviceId')?.touched || bookingForm.get('serviceId')?.dirty){
                  <mat-error>
                    @if(bookingForm.get('serviceId')?.hasError('required')){ <span>Select service</span> }
                  </mat-error>
                }
              </mat-form-field>
            </div>
            <div class="col-lg-4 col-md-3">
              @if (bookingForm.errors?.['timeSame']) { <mat-error>Start time and end time cannot be the same</mat-error> }
              @if (bookingForm.errors?.['startAfterEnd']) { <mat-error>Start time must be before end time</mat-error> }
              @if (bookingForm.hasError('insufficientDuration')) { <mat-error>Start time and end time should add up to the service duration</mat-error> }
              @if (bookingForm.hasError('pastTime')) { <mat-error>Start time cannot be earlier than current time.</mat-error> }
            </div>
          </div>
          <div class="row" style="overflow-y: auto">
            <div>
              @if(data?.providerList){
                <app-generic-table
                  [data]="data?.providerList"
                  [columns]="columns"
                  [isPaginated]="false"
                  [columnTemplates]="{ actions: actionBtns }"
                  [actionColumnName]="'Select Slot'">
                </app-generic-table>
              }
              @else {
                <div class="d-flex justify-content-center align-items-center">No Providers</div>
              }
            </div>
          </div>
        </div>
        <div class="card-footer">
          <div class="d-flex justify-content-end">
            <button type="submit" class="btn btn-primary me-2" id="form-submit-btn"
            [disabled]="bookingForm.invalid || !providerId || !selectedSlot">
              Book
            </button>
            <button type="button" class="btn btn-outline-secondary" id="form-reset-btn" (click)="reset()">
              Reset
            </button>
          </div>
        </div>
      </form>
    }
    @else {
      <div class="text-center p-5 d-flex justify-content-center align-items-center">
        <mat-spinner></mat-spinner>
      </div>
    }
  </div>
</div>

<ng-template #actionBtns let-row>
  <button type="button" mat-icon-button color="primary" (click)="bookSlotBtnClicked(row.providerId)">
    <mat-icon aria-label="Example icon-button with a heart icon">assignment_turned_in</mat-icon>
  </button>
</ng-template>
